{% extends 'main_app/_base.html' %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row pt-md-5 mt-md-3 mb-5">
                        <div class="col-xl-3 col-sm-6 p-2">
                            <!-- Example split danger button -->

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Assets
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    {% for i in assets %}
                                    <l1><a class="dropdown-item" href="#">{{ i.name }}</a></l1>
                                    {% endfor %}

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="container-flex">
                    <section>
                        <div id="chartdiv"></div>
                    </section>
                </div>
            </div>

        </div>
    </section>


    <!-- Styles -->
    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Chart code -->
    <script>
        am4core.ready(function () {

// Themes begin
            am4core.useTheme(am4themes_animated);
// Themes end

            var chart = am4core.create("chartdiv", am4charts.XYChart);
            chart.paddingRight = 20;

            chart.dateFormatter.inputDateFormat = "YYYY-MM-dd";

            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            dateAxis.renderer.grid.template.location = 0;

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.tooltip.disabled = true;

            {#var series = chart.series.push(new am4charts.OHLCSeries());#}
            var series = chart.series.push(new am4charts.CandlestickSeries());
            series.dataFields.dateX = "date";
            series.dataFields.valueY = "close";
            series.dataFields.openValueY = "open";
            series.dataFields.lowValueY = "low";
            series.dataFields.highValueY = "high";
            series.tooltipText = "Open:${openValueY.value}\nLow:${lowValueY.value}\nHigh:${highValueY.value}\nClose:${valueY.value}";
            series.strokeWidth = 2;

            chart.cursor = new am4charts.XYCursor();

// a separate series for scrollbar
            var lineSeries = chart.series.push(new am4charts.LineSeries());
            lineSeries.dataFields.dateX = "date";
            lineSeries.dataFields.valueY = "close";
// need to set on default state, as initially series is "show"
            lineSeries.defaultState.properties.visible = false;

// hide from legend too (in case there is one)
            lineSeries.hiddenInLegend = true;
            lineSeries.fillOpacity = 0.5;
            lineSeries.strokeOpacity = 0.5;

            var scrollbarX = new am4charts.XYChartScrollbar();
            scrollbarX.series.push(lineSeries);
            chart.scrollbarX = scrollbarX;

            chart.data = [
                {'date': '2021-02-18', 'close': '55926.9', 'high': '56349.9', 'low': '50683.4', 'open': '51600.9',},
                {'date': '2021-02-19', 'close': '55938.7', 'high': '57500', 'low': '53961.9', 'open': '55926.9',},
                {'date': '2021-02-20', 'close': '57478.3', 'high': '58339', 'low': '55490.5', 'open': '55938.7',},
                {'date': '2021-02-21', 'close': '54154.8', 'high': '57567.6', 'low': '45002', 'open': '57478.3',},
                {'date': '2021-02-22', 'close': '48899.8', 'high': '54200', 'low': '45000', 'open': '54154.8',},
                {'date': '2021-02-23', 'close': '49727.7', 'high': '51442.5', 'low': '47015.7', 'open': '48899.8',},
                {'date': '2021-02-24', 'close': '47061.5', 'high': '52071.9', 'low': '46702', 'open': '49727.7',},
                {
                    'date': '2021-02-25', 'close': '48100.1', 'high': '48200', 'low': '47061.5', 'open': '47061.5',
                }];


            chart.events.on("inited", function () {
                dateAxis.zoomToDates(new Date(2021, 2, 18), new Date(2021, 2, 25))
            });

        }); // end am4core.ready()
    </script>

    <!-- HTML -->
    <div id="chartdiv"></div>


{% endblock %}
