{% extends 'main_app/_base.html' %}
{% block content %}
<!-- cards -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row pt-md-5 mt-md-3 mb-5">
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                     <i class="fas fa-coins fa-3x text-warning"></i>
                                <div class="text-left text-secondary">
                                    <h2>Net Worth</h2>
                                    <h4>${{ net }}</h4>
                                    <p class="text-left"> <b>Holdings:</b> {{ asset.first.name }}</p>
                                </div>
                                </div>
                                </div>
                            <div class="card-footer text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Update now</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                         <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                     <i class="fas fa-chart-bar fa-3x text-warning"></i>
                                <div class="text-right text-secondary">
                                    <p><b>Volume: </b> 65,325,487,112</p>
                                    <p><b>Supply: </b>21M</p>
                                    <p><b>Market Cap: </b>571.692B </p>
                                </div>
                                </div>
                                </div>
                            <div class="card-footer text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Update now</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                         <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                     <i class="fas fa-chart-line fa-3x text-warning"></i>
                                <div class="text-right text-secondary">
                                   <p><b>Previous close:</b> 12.39</p>
                                    <p><b>Open: </b>14.22</p>
                                    <p><b>52 Week High:</b>13.50 </p>
                                </div>
                                </div>
                                </div>
                            <div class="card-footer text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Update now</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                         <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                     <i class="fas fa-comment-dots fa-3x text-warning"></i>
                                <div class="text-right text-secondary">
                                   <p><b>Previous close:</b> 12.39</p>
                                    <p><b>Open: </b>14.22</p>
                                    <p><b>52 Week High:</b>13.50 </p>
                                </div>
                                </div>
                                </div>
                            <div class="card-footer text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Update now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end cards -->



<!--chart -->

<section>
<div class="container-fluid">
    <div class="row pt-md-5 mt-md-3 mb-5">
        <div class="col-md-8 col-xl-10 ml-auto card card-common" id="chart-container">

        </div>
    </div>
</div>
</section>





<!--chart end-->
<!--Stocktwits -->
<div class="container-fluid">
     <div class="row pt-md-5 mt-md-3 mb-5">
         <div class="col-md-8 col-xl-10 ml-auto ">
    <div id="stocktwits-widget-news"></div><a href='https://stocktwits.com' style='font-size: 0px;'>Stocktwits</a>
<script type="text/javascript" src="https://api.stocktwits.com/addon/widget/2/widget-loader.min.js"></script>
<script type="text/javascript">
STWT.Widget({container: 'stocktwits-widget-news', symbol: 'BTC.X', width: '300', height: '300', limit: '15', scrollbars: 'true', streaming: 'true', title: 'Bitcoin Mentions', style: {link_color: '4871a8', link_hover_color: '4871a8', header_text_color: '000000', border_color: 'cecece', divider_color: 'cecece', divider_color: 'cecece', divider_type: 'solid', box_color: 'f5f5f5', stream_color: 'ffffff', text_color: '000000', time_color: '999999'}});
</script>
     </div>
</div>
<!-- end Stocktwits -->

{% endblock %}
<!-- footer -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-ld-9 col-md-8 ml-auto">
                <div class="row border-top pt-3">
                    <div class="col-lg-6 text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item mr-2">
                            <a href="#" class="text-dark">CoinSkunk</a>
                        </li>
                        <li class="list-inline-item mr-2">
                            <a href="#" class="text-dark">About</a>
                        </li>
                        <li class="list-inline-item mr-2">
                            <a href="#" class="text-dark">Support</a>
                        </li>
                        <li class="list-inline-item mr-2">
                            <a href="#" class="text-dark">News</a>
                        </li>
                    </ul>
                    </div>
                     <div class="col-lg-6 text-center">
                        <p>&copy; 2021 Andrew Babcock PDX Code Guild</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static "js/script.js" %}">

    </script>
</body>
</html>