{% extends 'main_app/_base.html' %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row pt-md-5 mt-md-3 mb-5">
                    <div class="col-xl-3 col-sm-6 p-2">
                        <h2>
                            <p>{{ user }}'s Profile Page</p>

                        </h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="containrt-flex">
        <h3>
            <div class="chart" id="chartdiv"></div>

        </h3>
    </div>
        </div>

    </div>
</section>

 {% endblock %}